@import "compass/css3";
@import "mixins";
@media (max-width: 1335px) 
{
    .categoryAdvertPrice{padding: 6px 10px;font-size: 2.2rem;width: 100%;text-align: center;}
    .categoryAdverts.grid .categoryAdvertPrice{width: auto;}
}
@media (max-width: 1260px){
    .categoryAdvertInfo{@include justify-content(space-between);@include flex-wrap(wrap);}
    .categoryAdvertMainInfo{width: 100%;}
    .categoryAdvertInfoPrice{width: 33%;}
    .categoryAdvertInfoYear{width: 33%;}
    .categoryAdvertInfoProbeg{width: 33%;}
    .categoryAdvertMainInfo{padding-bottom: 25px;}
} 
@media (max-width: 1200px) 
{
    .mainPageAutoList ul li{width:25%}
}
@media (max-width: 992px) 
{
    .header-locale{@include justify-content(space-between);width: 100%;}
    .top-select-region{margin-left: 0;}
    .header-functions{display: block;}
    .siteLogo{@include justify-content(space-between);}
    .siteMenuGamburger{order:3}
    .siteMenuGamburger > button{margin: 0;}
    .siteMenuSearch{margin-left: 20px;margin-right: 20px;}
    .mainPageFiltersTabs ul li a span{display: none;}
    .mainPageFiltersTabs ul li a svg{margin: 0;}
    .mainPageFiltersTabs ul li a{padding: 11px 16px 13px;}
    .mainPageFiltersShowResults{width: 100%;text-align: center;padding-top: 2rem;}
    .mainPageFiltersButtons{@include flex-wrap(wrap);}
    .mainPageFiltersSettings{@include justify-content(space-between);width: 100%;}
    .siteInfoPaneFloat{position: relative;top:0;left: 0;}
    .footer-menu-header svg{display: block;}
    .footer-menu-list-block{display: none;}
    .footer-menu-list-block.active{display: block;}
    .login-blocks{display: block;padding-top: 5rem;padding-bottom: 5rem;}
    .socialLoginBlock{padding-left: 0;padding-top: 4rem;text-align: center;}
    .oauth-link{@include flexBox(row,center,center);}
    .register-block-description{padding-top: 2rem;padding-bottom:5rem;}
    .siteMenuGamburgerMenu{top:28px;right:0;left:auto;padding-left: 4rem;width: 100%;}
    .siteMenuGamburgerMenu button{top:15px;right: 10px;left:auto;}
    .searchBlockInner input{width: 80%;}
    .categorySortParams .select-cover{width: 250px;}
    .categorySortParams .filter{width: 110px;}
    .categoryAdvertShareLinks ul li button.share .shareLinks{left: auto;right: -12px;}
    .productSliderInner .row{display: block;}
    #owlMainSlider .owl-dots{width: 100%;}
    .cookieAlerts{@include flex-wrap(wrap);}
    .cookieAlertMessage{width: 100%;padding-bottom: 15px;}
    #navbar-bottom{padding-top: 20px;}
    #navbar-bottom .footer-menu{padding-bottom: 20px;}
    .categorySpecialAdvertsHeader{@include flex-wrap(wrap);}
    .categoryAdvertCommonInfo{@include flex-wrap(wrap);}
    .footer-menu-list, .footer-menu-list li{display: block;}
    .footer-menu-list li:nth-child(2n){text-align: left;}
    .mainPageFiltersBlock{padding-top: 3rem;padding-bottom: 4.5rem;}
    .innerHeader h4{margin-bottom: 1.5rem;}
    .siteInfoPaneAddadvert{text-align: center;}
    .categorySorts{margin-top: 0;}
    .categoryViewButtons{display: none;}
    .categorySortParams{justify-content: space-between;}
    .categoryAdverts{margin-left: -7px;margin-right: -7px;width: auto;}
    .categoryAdverts .categoryAdvert{width: 288px;display:block;margin-bottom: 25px;}
    .categoryAdverts .categoryAdvertCover{float:left;padding-left: 7px;padding-right: 7px;}
    .categoryAdverts:after{content:" ";display: block;clear: both;}
    .categoryAdverts .categoryAdvertImages{width: 100%;}
    .categoryAdverts .categoryAdvertInfo{width: 100%;padding-left: 0;display: block;}
    .categoryAdverts .categoryAdvertInfo .categoryAdvertCommonInfo{display: block;}
    .categoryAdverts .categoryAdvertMainInfo{width: 100%;}
    .categoryAdverts .categoryAdvertName{@include fontView("GothamProBlack",$black-text,1.8rem,2.6rem);padding-top: 15px;}
    .categoryAdverts .categoryAdvertTypes{@include flex-wrap(wrap);}
    .categoryAdverts .categoryAdvertTypes .categoryAdvertType{margin-bottom: 10px;}
    .categoryAdverts .categoryAdvertInfoFeature{width: 100%;}
    .categoryAdverts .categoryAdvertInfoFeatures{padding-top: 22px;}
    .categoryAdverts .categoryAdvertInfoYear,.categoryAdverts.grid .categoryAdvertInfoProbeg{display: none;}
    .categoryAdverts .categoryAdvertInfoPrice{@include flexBox(row,space-between,center);width: 100%;padding-top: 15px;}
    .categoryAdverts .categoryAdvertInfoPrice .categoryAdvertPrice{padding: 0;font-size: 1.8rem;@include flexBox(row,center,center);width: 100%;}
    .categoryAdverts .categoryAdvertInfoPrice .categoryAdvertCredit{margin: 0;font-size: 1.4rem;}
    .categoryAdvertInfoFeature{display: none;}
    .categoryAdverts .categoryAdvertInfoFeature{display: block;}
    .categoryAdverts .categoryAdvertShareLinks{top: -18px;right: 0;@include border-radius(25px);padding: 5px 10px;border:2px solid $yellow-color;}
    .categoryAdverts .categoryAdvertShareLinks ul{@include flexBox(row,flex-start,center);}
    .categoryAdverts .categoryAdvertShareLinks ul li button{margin-bottom: 0;}
    .categoryAdvertInfoPrice{width: 100%;}
    .categoryAdvertInfoYear{width: 100%;}
    .categoryAdvertInfoProbeg{width: 100%;}
    .registerBigForm{width: 100%;}
    .formParemetersItem{flex-wrap:wrap;padding-bottom: 0;}
    .registerBigInner .formParameter{width: 100%;padding-bottom: 1.6rem;}
    .formParameter .register-form-forms{padding-left: 0;}
    .pageContentBannerBg{display: none;}
    .pageContentBanner{padding:5rem;padding-left:5rem;margin-bottom:5rem;@include border-radius(0);}
    .pageContentServiceDescription,.pageContentServiceIcon{width: 100%;}
    .pageContentServiceDescription{padding-bottom: 2rem;}
    .pageContentService{padding-bottom: 3rem;}
    .pageContentServices{padding-top: 3.5rem;}
    .pageContentBlock{padding-bottom: 4rem;}
    .pageContentAdvertismentIcon{display: none;}
    .pageContentAdvertismentDescription{width:100%;padding-right:0;}
    .categoryRate{flex-wrap:wrap;}
    .pageContentServiceDescriptionText{padding-right: 0;}
    .pageContentRates{margin-top: 3rem;@include border-radius(0);}
    .pageContentAdvertismentDescriptionText.office{padding-top: 3rem;}
    .searchBlockForm form{flex-wrap:wrap;justify-content:center;}
    #modalSearchForm button.submit{margin-right: 0;margin-top: 2rem;}
    .pageFaq{column-count: 1;}
    .pageFaqBlock{padding-right: 0;padding-bottom: 3rem;}
    .pagContentTabs{flex-wrap:wrap;}
    .pagContentTabsSelectors,.pagContentTabsContent{width: 100%;}
    .pagContentTabsSelectors ul li{width: auto;display: inline-block;}
    .pagContentTabsSelectors ul li a{@include border-radius(0);padding:0.8rem 1.2rem;}
    .pagContentTabsSelectors ul li.active .whiteBlock{display: none;}
    .pagContentTabsSelectors ul li.active a{@include box-shadow(none);}
    .account-menu-list{position: absolute;right: 0;top: 0;background-color: #fff;border:none;z-index:2;padding-top:1.5rem;@include box-shadow(0px 5px 32px rgba(0,0,0,0.19));display: none;}
    .content-row{display: block;}
    .userAccount .col-lg-10{padding-left:15px;}
    #breadScrumbsMobileMenuToggler{display: block;}
    .accountAdvert{display: block;width: 360px;}
    .accountAdvertInfoLeft,.accountAdvertInfoRight{width: 100%;display: block;}
    .accountAdvert{padding: 1.5rem;margin-bottom: 2rem;}
    .accountAdvertInfoNumbers{width: 100%;}
    .accountAdvertServiceButtons{width: 100%;padding-left: 0;}
    .accountAdvertImage{max-width:100%;margin-right:0;max-height:100%;}
    .accountAdvertFunctions{position:relative;top:0;left:0;padding-bottom: 0.8rem;@include box-shadow(none);@include border-radius(0);}
    .accountAdvertFunction:last-child a{@include border-radius(0);}
    .accountAdvertFunctions.left, .accountAdvertFunctions.right{top: 0;left: 0;}
    .accountMessagesTools{flex-wrap:wrap;}
    .accountMessagesToolsLeft{padding-bottom: 1.5rem;@include flexBox(row,space-between,center);flex-wrap:wrap;width: 100%;}
    .accountMessagesToolsCheck{padding:0;}
    .accountMessageItemCheck{padding-right: 1.5rem;}
    .accountMessageItemButton{display: none;}
    .accountMessageItemUser{width: 100%;}
    .accountMessageItemUser > a{display: block;}
    .advertFiltersItem.justFilter .advertFiltersItemValue .filter{width: 50%;margin-right: 0;}
    .topBanner{display: none;}
    .register-block-header{text-align: center;}
    .accountConversationMessage,.accountMessageFormButtons{flex-wrap:wrap;}
    .accountMessageFormButtons{justify-content:center}
    .accountConversationMessageUser{width: 100%;}
    .accountConversationMessageText{width: 100%;padding-right:0;padding-left: 7rem;}
    .accountConversationMessageText.form{padding-left: 0;}
    .accountMessagesToolsRight{justify-content: center;width: 100%;}
    .accountSettingsFormBlock{padding-left: 0;}
    .accountSettingsFormBlock .formParameter{margin-bottom: 1rem;margin-right: 0;flex-wrap: wrap;width: 100%;}
    .accountSettingsFormBlock .formParameter .formParameterLabel, .accountSettingsFormBlock .formParameter .formParameterField{width: 100%;}
    .accountSettingsFormBlock .formParameter .formParameterField input{width: 100%;}
    .accountSettingsFormBlock .formParameter .formParameterField .select-cover{width: 100%;}
    #addDealerPhone{position: relative;bottom:0;right: 0;}
    .accountSettingsFormBlock .form-control.dealerDescription{width: 100%;margin-top: 2rem;}
    .categoryRateOrderButton a{width: 100%;}
    #advertFiltersItemsTable > tbody > tr > td:nth-child(2n-1){display: none;}
    #advertFiltersItemsTable > tbody > tr > td:nth-child(2) .advertFiltersItemName{display: block;padding-bottom: 0;margin-top: 0.5rem;}
    #dealerFotoTable > tbody > tr > td:nth-child(2n-1){display: none;}
    .addProductFilterRadios li{margin-bottom: 1rem;}
    .addAdvertPriceParameters{flex-wrap:wrap;}
    .advertFiltersItemValue .categoryAdverts{@include flexBox(row,center,center);}
    .nav-tabs.addAdvertServicesTabs > li{padding-right: 0;width: 100%;}
    .addAdvertUserAgreement{padding-right: 0;padding-bottom: 1.5rem;width: 100%;text-align: left;}
    .cookieAlertButton.nextStep{justify-content: center;}
    .addAdvertServiceTabsBlock .tab-pane .servicePremium{display: block;}
    .addAdvertServiceDescription, .addAdvertServiceItems{width: 100%;}
    .addAdvertServiceDescription{padding-bottom: 1.5rem;}
    .addAdvertServiceItems{padding-left: 0;}
    .right-column{align-items: center;}
    .accountAdvert.cube.productnote{width: 100%;max-width:100%;}
    .product-block .price{align-items: flex-start;padding-top: 1.5rem;}
    .product-block{padding-bottom: 1.5rem;}
    .productModalSliderIcons{display: none;}
    #productSlider.modal.fade.in{display: block;}
    .advertSliderMainFoto{padding-left: 0;height: auto;}
    .product-tabs-inner ul{justify-content:flex-start;}
    #dealerAutoSalonsModal .modal-content{padding: 3rem;}
    #dealerAutoSalonEditModal .modal-content{padding: 3rem;}
    #addDealerSalonPhone{position: relative;bottom:0;right: 0;}
    .mapImage{display: none;}
    .addReviewPage .form-group .form-group-label{width: 100%;padding-right: 0;padding-bottom: 1rem;}
    .addReviewPage .form-group .form-group-control{width: 100%;}
    .addReviewPage .form-group{flex-wrap:wrap;}
    .categoryAdvert.premium .categoryAdvertImages{float:left;padding-right: 3rem;width: 30%;}
    .categoryAdvert.premium{display: block;}
    .categoryAdvert.premium .categoryAdvertInfo{width: 100%;padding-left: 0;}
    .categoryAdvert.premium .categoryAdvertCommonInfo{display: block;}
    .categoryAdvert.premium .categoryAdvertInfoPrice{margin-top: 2rem;}
    .categoryAdvert.premium  .categoryAdvertShareLinks{top: -18px;right: 0;@include border-radius(25px);padding: 5px 10px;border:2px solid $yellow-color;}
    .categoryAdvert.premium  .categoryAdvertShareLinks ul{@include flexBox(row,flex-start,center);}
    .categoryAdvert.premium  .categoryAdvertShareLinks ul li button{margin-bottom: 0;}
    .productNoteForm > svg{display: none;}
    .productNoteForm textarea{width: 100%;margin-right: 0;}
    .productNoteForm{flex-wrap: wrap;}
    .productNoteForm .cookieAlertButton{width: 100%;margin-top: 1rem;}
    .productNoteForm .cookieAlertButton button{width: 100%;}
    .addAdvertServiceTabsBlock .tab-pane .service{flex-wrap:wrap;}
    #navbar-bottom{padding-left: 0;}
    .col-md-5.footer-menu{padding-right: 15px;}
    .index-services-blocks{padding-left: 15px;padding-right: 15px;}
    .mainPageSitHeaderBlock{padding-left: 15px;}
    .faq-left{padding-right: 15px;}
    .faq-right{padding-left: 15px;}
}
@media(max-width:830px){
    .siteMenuGamburgerMenu{@include column-count(3);}
    .accountOrderInfo{justify-content: center;}
    .accountOrderInfoProduct{width: 100%;flex-wrap:wrap;justify-content:center;}
    .accountOrderInfoProductImage{padding-right: 0;}
    .accountOrderInfoProductDescription,.accountOrderInfoProductNumbers{width: 100%;padding-right: 0;}
    .accountOrderInfoProductDescription{text-align: center;}
    .accountOrderUser{justify-content: center;}
    .accountOrderUserAvatar{width: 100%;@include flexBox(row,center,center);padding-bottom: 1.5rem;}
    .accountOrderUserInfo{width: 100%;@include flexBox(row,center,center);}
}
@media (max-width: 768px) 
{
    h1{font-size: 3.2rem;}
    h2{font-size: 3.2rem;line-height: 3.8rem;}
    .page-content{padding-top: 1.5rem;}
    .mainPageSiteSubheader{font-size:2.8rem;line-height: 3.2rem;padding-bottom: 3rem;}
    .mainPageSitHeader{padding-top: 3rem;padding-bottom: 3rem;}
    .mainPageAutoList ul li{width:33.33333%}
    .innerHeader h4{font-size: 2.7rem;line-height: 100%;}
    .siteInfoPane{padding-left: 0;padding-top: 1rem;height: auto;}
    .siteInfoPaneInner{padding:2rem;}
    .siteInfoPaneInner{@include border-radius(0 0 9px 9px);}
    .header-search-box input[type="submit"]{display: none;}
    .header-search-box a.top-select-region{border: 2px solid #222B2A;}
    .header-search-box{height: auto;display: block;}
    .header-search-box input[name="searchText"]{margin-bottom: 1rem;width: 100%;margin-top: 1.5rem;padding-top: 1.2rem;padding-bottom: 1.2rem;}
    .top-select-region{padding-top: 12px;padding-bottom: 12px;}
    .header-search-box a.top-select-region{width: 100%;}
    .infoPaneCheckbox{@include justify-content(flex-start);margin-top: 1rem;}
    .siteInfoPane{margin-bottom: 3rem;}
    .siteInfoPaneContent .description{padding-top: 1.5rem;}
    .siteInfoPaneContentButton{display: block;}
    .mainPageContentHeader h3{font-size: 1.4rem;line-height: 2rem;}
    .mainPageText{padding-top: 0.5rem;padding-bottom: 4rem;}
    .mainPageContentHeader{padding-bottom: 3rem;}
    .mainPageAutoListBlock{padding-top: 3rem;padding-bottom: 4rem;}
    .mainPageAutoListHeader h3{font-size: 1.8rem;line-height: 1.7rem;}
    .mainPageAutoList ul{padding-top: 2rem;padding-bottom: 1.2rem;}
    footer{padding-top: 2.7rem;}
    .footerSiteDescription{padding-top: 1.8rem;padding-bottom: 1.7rem;}
    .footer-menu-header{padding-top: 1.4rem;}
    .footer-developer{text-align: left;}
    .register-block,.register-block.result{padding:2.5rem;}
    .categorySortFields{@include flex-wrap(wrap);}
    .advertFilersDescription ul li div{padding-right: 30px;}
    .advertFilersDescription ul li div.advertFilterValue{padding-right: 30px;}
    .advertFilersDescription{@include flex-wrap(wrap);}
    .modal-content button.close{top:1.5rem;right:1.5rem;}
    .modal-content button.close svg path {fill:$yellow-color;}
    .modal.fade.in{display: block;}
    .categorySortFields{padding:1.5rem;padding-top: 0;padding-bottom: 0;margin-bottom: 1.5rem;}
    .categorySortParams{@include flex-wrap(wrap);}
    .categorySortParams .select-cover{width: 100%;margin-right: 0;margin-bottom: 0;}
    .categorySortParams .filter{width: 100%;}
    .mainPageFiltersTabs.category-filters{padding-bottom: 2rem;padding-top: 1rem;}
    .mainPageFiltersTabs{padding-top: 2rem;}
    .content-row{margin-top: 1.5rem;}
    .registerBigForm{padding: 3rem;}
    .categoryRateDescription,.categoryRatePrice{width: 100%;}
    .categoryRatePrice{padding-top: 3.5rem;padding-bottom: 1.5rem;}
    .categoryRateDescriptionTitle{flex-wrap:wrap;}
    .categoryRateName{width: 100%;text-align: center;}
    .categoryRateServices{width: 100%;@include flexBox(row,center,center);padding-top: 2rem;}
    .advertFiltersItem.justFilter .advertFiltersItemValue .filter{width: 100%;}
    .dealerAccountRates .categoryRateDescription{width: 100%;}
    .categoryRateOrderButton{width: 100%;}
    .categoryRateOrderButton a{width: 18rem;margin: 0 auto;}
    .mainPageFiltersTabs.category-filters.addProduct a.block span.block{display: none;}
    .advertFotosStartBg{justify-content: center;flex-wrap:wrap;}
    .addFotoDescription{padding: 0;text-align: center;}
    .addFotoIcon{margin-bottom: 1.5rem;}
    .dz-preview{margin: 0;margin-bottom: 1.5rem;margin-right: 1.5rem;}
    .addAdvertResultButtons{flex-wrap:wrap;justify-content: center;}
    .addAdvertResultButtons .cookieAlertButton.nextStep{padding-bottom: 2.5rem;}
    .advertFiltersHeader h3{font-size: 2.8rem;}
    .dealerSalonParamsLogo{padding-bottom: 1.5rem;}
    .accountBillInfoItem{width: 100%;padding-bottom: 1rem;text-align: center;}
    .accountBillInfo a{flex-wrap:wrap;align-items:center;}
    .accountBills{background: none;@include flexBox(row,flex-start,flex-start);}
    .accountBill{flex-wrap:wrap;max-width:255px;background: #fff;margin-right: 1rem;margin-bottom: 1rem;border: 1px solid #DFE1E5;padding: 2.5rem 1rem}
    .accountBillDownload{width: 100%;@include flexBox(row,center,center);}
    .accountBillInfoItem.status{padding-top: 3rem;padding-bottom: 4rem;}
    .paymentsMethodsBlockInner ul.paymentsList{display: block;}
    .paymentsMethodsBlockInner ul.paymentsList li{display: block;margin-bottom: 1.5rem;}
    .accountMessageItemUser{flex-wrap:wrap;}
    .accountMessageItemTitle{padding-left: 12rem;flex-wrap:wrap;}
    .accountMessageItemUserAvatar{width: auto;}
}
@media (max-width: 650px) 
{
    body{font-size:8px;}
    .mainPageAutoList ul li{width:50%}
    .mainPageContentText{columns:1}
    .siteMenuGamburgerMenu{@include column-count(2);}
    .categoryAdvert{display: block;}
    .categoryAdvertImages{width: 100%;}
    .categoryAdvertInfo{width: 100%;padding-left: 0;padding-top: 15px;}
    .categoryAdvertInfoPrice{width: 100%;@include flexBox(row,center,center);@include flex-wrap(wrap);}
    .categoryAdvert.premium .categoryAdvertImages{float: none;width: 100%;padding-right: 0;}
    .categoryAdvertInfoYear{width: 100%;@include flexBox(row,center,center);}
    .categoryAdvertInfoProbeg{width: 100%;@include flexBox(row,center,center);}
    .categoryAdvertPrice{width: auto;}
    .categoryAdvertCredit{margin: 0;}
    .categoryAdvertInfoYear{padding: 15px 0;}
    .categorySpecialAdvertsHeader h3{font-size: 2.6rem;line-height: 3.2rem;}
    
    .advertFotos {@include flex-wrap(wrap);}
    .advertFotoIcons{width: 100%;padding-top: 12px;}
    .advertAdditionalsItems{@include column-count(2);}
    .modal-content{padding: 3rem 5rem;}
    .searchBlockInner{display: block;padding-top: 2rem;padding-bottom: 2rem;}
    .searchBlockInner button.close{position: absolute;top: 2.5rem;right: 1.5rem;}
    .searchBlockInner > div{text-align: center;}
    .searchBlockForm{border-left:none;margin-left: 0;padding-top: 2rem;}
    .searchBlock{padding: 0;}
    .searchBlockInner input{width: 100%;margin-left: 0;}
    .pageContactUs{padding: 2rem;}
    .accountMessageFormButtons > .send-message-file{margin-bottom: 1rem;}
}

@media (max-width: 630px) 
{
    .categoryAdverts .categoryAdvert{width: 100%;}
    .categoryAdvertImages img{max-width: 100%;}
    .categoryAdvertImages{height: auto;max-height:250px;}
    .pageContentAdvertismentDescriptionRateTitle,.pageContentAdvertismentDescriptionRatePrice{width: 100%;text-align: center;}
    .pageContentBanner{padding:3rem;}
    .accountOrderUserInfo ul{flex-wrap: wrap;}
    .accountOrderUserInfo ul li{display: block;width: 100%;padding-bottom: 2rem;}
    .accountOrderUserInfo ul li:last-child{padding-bottom: 1rem;}
    .accountOrderUser{padding-left: 1.5rem;padding-right: 1.5rem;}
    .accountOrderUserInfo ul li a{padding-right: 0;justify-content:center;}
    .accountOrderUserAvatar{flex-wrap: wrap;}
    .accountOrderUserAvatarImage{padding-right: 0;}
    .accountOrderUserAvatarName{width: 100%;text-align: center;}
}

@media (max-width: 560px) 
{
    .cookieAlerts{display: block;}
    .cookieAlerts .cookieAlertLink, .cookieAlerts .cookieAlertButton{text-align: center;}
    .cookieAlerts .cookieAlertLink{padding-bottom: 2.5rem;}
    .modal-header h3{font-size: 2.6rem;line-height: 3.2rem;}
    .modal-header{padding-bottom: 1.5rem;}
    .mapListItem{flex-wrap:wrap;}
    .mapListItemImage{width: 100%;padding-bottom: 2rem;padding-left:1.5rem;}
    .mapListItemInfo{width: 100%;}
    .mapListItemImageSrc img{max-width:150px;}
    .mapListItemImageRating{justify-content:flex-start;}
}
@media (max-width: 490px) 
{
    .mainPageAutoList ul li{width:100%}
    .addAdvertModificationParam.label{padding-right: 1rem;}
    .addAdvertModification{flex-wrap:wrap;}
    .addAdvertPriceGarant{display: block;}
}
@media (max-width: 475px) 
{
    .siteMenuGamburgerMenu{@include column-count(1);}
    .categoryAdvertPrice{width: 100%;}
    .categoryAdverts.grid .categoryAdvertPrice{width: auto;}
    .categoryAdvertCredit{width: 100%;padding-top: 15px;text-align: center;}
    .categoryAdverts.grid{width:auto;padding-top: 0;}
    .categorySpecialAdvertsHeader h3{font-size: 1.8rem;}
    .categoryAdvertShareLinks{padding-top: 10px;top:2rem;}
    .advertAdditionalsItems{@include column-count(1);}
    .modal-content{padding: 3rem;}
    .modal-header h3{font-size: 2.2rem;line-height: 2.8rem;}
    h1{font-size: 2.8rem;}
    h2{font-size: 2.8rem;line-height: 3.2rem;}
    .mainPageSiteSubheader{font-size:2.4rem;line-height: 2.8rem;}
    .register-form-forms.right-text button[type="submit"]{width: 100%;}
    
}

@media (max-width: 450px) 
{
    .siteInfoPaneContent ul li{display: block;padding-bottom: 1rem;}
    .siteInfoPaneContent ul li:after{clear:both;display: table;content:" ";}
    .siteInfoPaneContent ul li a{float:left;}
}
@media (max-width: 340px) 
{
	.category-premium-adverts .premium-advert, .premium-advert, .top-sellers-block{width:100%}
	.premium-adverts.category-premium-adverts{padding-left:15px;padding-right:15px;}
	.category-premium-adverts .premium-advert{margin-left:0;margin-right:0;}
        .message-message-text img{width:100%;}
        .categorySpecialAdvertsHeader h3{font-size: 1.4rem;}
}
@media (max-width:310px){
    .categoryAdverts.grid .categoryAdvert{width: 100%;}
}
@media (max-width: 270px){
    .categorySpecialAdvert{width: 100%;}
}