@import "compass/css3";
@media (max-width: 1200px) 
{
    .mainPageAutoList ul li{width:25%}
}
@media (max-width: 992px) 
{
    .header-locale{@include justify-content(space-between);width: 100%;}
    .top-select-region{margin-left: 0;}
    .header-functions{display: block;}
    .siteLogo{@include justify-content(space-between);}
    .siteMenuGamburger{order:3}
    .siteMenuGamburger > button{margin: 0;}
    .siteMenuSearch{margin-left: 20px;margin-right: 20px;}
    .mainPageFiltersTabs ul li a span{display: none;}
    .mainPageFiltersTabs ul li a svg{margin: 0;}
    .mainPageFiltersTabs ul li a{padding: 11px 16px 13px;}
    .mainPageFiltersShowResults{width: 100%;text-align: center;padding-top: 2rem;}
    .mainPageFiltersButtons{@include flex-wrap(wrap);}
    .mainPageFiltersSettings{@include justify-content(space-between);width: 100%;}
    .siteInfoPaneFloat{position: relative;top:0;left: 0;}
    .footer-menu-header svg{display: block;}
    .footer-menu-list-block{display: none;}
    .footer-menu-list-block.active{display: block;}
    
}
@media (max-width: 768px) 
{
    h1{font-size: 2.2rem;}
    h2{font-size: 2rem;line-height: 2.4rem;}
    .mainPageSitHeader{padding-top: 3.5rem;padding-bottom: 3.5rem;}
    .mainPageFiltersTabs{padding-top: 0rem;}
    .mainPageFiltersBlock{padding-top: 4.5rem;}
    .mainPageAutoList ul li{width:33.33333%}
    .innerHeader h4{font-size: 2.7rem;line-height: 100%;}
    .siteInfoPane{padding-left: 0;padding-top: 1rem;height: auto;}
    .siteInfoPaneInner{padding:2rem;}
    .siteInfoPaneInner{@include border-radius(0 0 9px 9px);}
    .header-search-box input[type="submit"]{display: none;}
    .header-search-box a.top-select-region{border: 2px solid #222B2A;}
    .header-search-box{height: auto;display: block;}
    .header-search-box input[name="searchText"]{height: 40px;margin-bottom: 1rem;width: 100%;margin-top: 1.5rem;}
    .top-select-region{padding-top: 12px;padding-bottom: 12px;}
    .header-search-box a.top-select-region{width: 100%;}
    .infoPaneCheckbox{@include justify-content(flex-start);margin-top: 1rem;}
    .siteInfoPane{margin-bottom: 3rem;}
    .innerHeader h4{margin-bottom: 1.5rem;}
    .siteInfoPaneAddadvert{text-align: center;}
    .siteInfoPaneContent .description{padding-top: 1.5rem;}
    .siteInfoPaneContentButton{display: block;}
    .mainPageContentHeader h3{font-size: 1.4rem;line-height: 2rem;}
    .mainPageText{padding-top: 0.5rem;padding-bottom: 4rem;}
    .mainPageContentHeader{padding-bottom: 3rem;}
    .mainPageAutoListBlock{padding-top: 3rem;padding-bottom: 4rem;}
    .mainPageAutoListHeader h3{font-size: 1.8rem;line-height: 1.7rem;}
    .mainPageAutoList ul{padding-top: 2rem;padding-bottom: 1.2rem;}
    footer{padding-top: 2.7rem;}
    .footerSiteDescription{padding-top: 1.8rem;padding-bottom: 1.7rem;}
    .footer-menu-header{padding-top: 1.4rem;}
    .footer-developer{text-align: left;}
}
@media (max-width: 650px) 
{
    .mainPageAutoList ul li{width:50%}
    .mainPageContentText{columns:1}
}
@media (max-width: 490px) 
{
    .mainPageAutoList ul li{width:100%}
}
@media (max-width: 340px) 
{
	.category-premium-adverts .premium-advert, .premium-advert, .top-sellers-block{width:100%}
	.premium-adverts.category-premium-adverts{padding-left:15px;padding-right:15px;}
	.category-premium-adverts .premium-advert{margin-left:0;margin-right:0;}
        .message-message-text img{width:100%;}
}