<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Администратор сайта {{ settings.siteName }} ответил на Ваше сообщение!</h3>
<p><strong>Тема сообщения:</strong> <i>{{ message.messageSubject}}</i></p>
<p><strong>Текст сообщения:</strong> <i>{{ message.messageText}}</i></p>
<p><strong>Ответ администратора:</strong> {{ answer }}</p>