<img src="{{ absolute_url(asset('bundles/Default/img/logotype.png')) }}">
<h3>Администратор сайта gribupardot.sunweb.by ответил на Ваше сообщение!</h3>

<p><strong>Тема сообщения:</strong> <i>{{ message.messageSubject}}</i></p>
<p><strong>Текст сообщения:</strong> <i>{{ message.messageText}}</i></p>
<p><strong>Ответ администратора:</strong> {{ answer }}</p>

