<img src="{{ absolute_url(asset('bundles/Default/img/logotype.png')) }}">
<h3>На сайт gribupardot.sunweb.by доабвлено новое объявление!</h3>
<p>
    Перейдите в <a href="{{ absolute_url(path('admin_product_confirm')) }}">панель администрирования</a> для обработки добавленных объявлений.
</p>
