<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Ваше объявление отправлено на модерацию!</h3>
<p>Вы можете контролировать статус Вашего объявления в <a href="{{ absolute_url(path('account')) }}">личном кабинете</a> сайта {{ settings.siteName }}.</p>