<img src="{{ absolute_url(asset('bundles/images/site/' ~ settings.siteLogo)) }}" />
<h3>Ваше объявление отправлено на модерацию!</h3>
<p>
    Вы можете контролировать статус Вашего объявления в <a href="{{ absolute_url(path('account')) }}">личном кабинете</a> сайта {{ settings.siteName }}.
</p>
