<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Копия сообщения для владельца объявления.</h3>
<p>Вы отправили сообщение владельцу объявления.<br /> <strong>Объявление: </strong><a href="{{ absolute_url(path('product', {'productId' : product.id,'productName' : product.translit})) }}">{{ product.name }}</a><br /> <strong>Сообщение: </strong>{{ message }}</p>