<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Вам пришло новое сообщение!</h3>
<p>Пользователь <strong>{{ user.userinfo.firstname }} {{ user.userinfo.lastname }}</strong> оставил для Вас новое сообщение на сайте {{ settings.siteName }}, которое Вы можете прочитать в своем <a href="{{ absolute_url(path('account_conversations')) }}">личном кабинете</a>.</p>