<img src="{{ absolute_url(asset('bundles/Default/img/logotype.png')) }}">
<h3>Вы получили приглашение зарегистрироваться на сайте gribupardot.sunweb.by</h3>
<p>
    Для этого Вам необходимо пройти по указанной ссылке.<br/>
    <br/>
    Ссылка для перехода: <a href="{{ absolute_url(path('register', {'link' : link } )) }}">Принять приглашение</a>
</p>
