<img src="https://lh6.googleusercontent.com/jUINxXgP0BiDUPUQULrWMv8wUdF4_ecw2ilgmoT318_Iy3bGtvb8t8RTNZdl2cBdrkr6dctxUh7f3A=w1920-h1057" />
<h3>Вы получили приглашение зарегистрироваться на сайте {{ settings.siteName }}</h3>
<p>
    Для этого Вам необходимо пройти по указанной ссылке.<br/>
    <br/>
    Ссылка для перехода: <a href="{{ absolute_url(path('register', {'link' : link } )) }}">Принять приглашение</a>
</p>
