<img src="https://dl.dropboxusercontent.com/s/bhlz9y5atxpxv6p/logo.png" alt="auto28.es" />
<h3>Спасибо за регистрацию!</h3>
<div>
<p>Ваши реквизиты для доступа в личный кабинет:</p>
</div>
<div>
<p><b>Логин:</b> {{ user.username }}</p>
</div>
<div>
<p><b>Пароль:</b> {{ password}}</p>
</div>
<div>
<p>Для подтверждения регистрации - перейдите по ссылке ниже:&nbsp;<br /><big><a href="{{absolute_url(path('register_confirm', {key: key, id: register.id})) }}">Подтвердить аккаунт</a></big></p>
<p>Если Вы не регистрировались на сайте и получили это письмо случайно, просто проигнорируйте его.</p>
</div>