{% if settings.siteLogo %}
    <img src="{{ absolute_url(asset('bundles/images/site/' ~ settings.siteLogo)) }}">
{% endif %}
<h3>Спасибо за регистрацию!</h3>
<div><p>Ваши реквизиты для доступа в личный кабинет:</p></div>
<div><p><b>Логин:</b> {{ user.username }}</p></div>
<div><p><b>Пароль:</b> {{ password}}</p></div>


