<img src="{{ absolute_url(asset('bundles/Default/img/logotype.png')) }}">
<h3>Восстановление пароля!</h3>
<p>Для Вас сгенерирован новый пароль <strong>{{ password }}</strong>. Используйте его для входа в систему по следующей ссылке: 
    <a href="{{absolute_url(path('login')) }}">Вход в личный кабинет Shumok.com ua</a></p>

