{% if transmittionTypes | length > 0 %}
    <td><div class="advertFiltersItemName">{% trans %}Привод{% endtrans %}</div></td>
    <td>
        <div class="advertFiltersItemValue">
            <ul class="list-unstyled list-inline addProductFilterRadios">
                {% for transmittionType in transmittionTypes %}
                    <li onclick="getModificationsEdit({{ transmittionType.id }}, {{ advertInfo.id }});radioSetActive($(this))">
                        <a href="javascript:voit(0)" {% if transmittionType.id == advertInfo.info.transmissionType.id %}class="active"{% endif %}>{{ transmittionType.value }}</a>
                        <input name="transmissionType[]" type="radio" class="hidden-radio-parameter" value="{{ transmittionType.id }}"  {% if transmittionType.id == advertInfo.info.transmissionType.id %}checked="checked"{% endif %}/>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </td>
{% endif %}