{% for product in products %}
    {% if locale.isDefault %}
        {% set href = path('product', {'productId' : product.id,'productName' : product.translit}) %}
    {% else %}
        {% set href = path('productLocale', {'_locale' : locale.code,'productId' : product.id,'productName' : product.translit})%}
    {% endif %}
    <div class="advert-frame selltype" id="advert_frame_{{ product.id}}">
        {% include 'DashboardCommonBundle:Parts:product.html.twig' with {'product' : product, 'locale' : locale, 'href' : href} %}
    </div>
{% endfor %}