/* custom select element styles */
.select-cover{position:relative;border:1px solid #dfe1e5;padding:8px 15px;background:#fff;font-size: 1.3rem;font-family: "GothamProRegular", sans-serif;color:#494949;margin-bottom: 10px;}
.select-cover.active{border:1px solid #EB840B;}
.select-cover.selected{background:#FDEECC;}
.select-value{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACLSURBVHgBfZBNDYUwEITftgqeAyTUAkpoagAcAAqQQFFAUMCVIzgBAy2zhANZfubS7ew3zaTknGtCCJ33fv59yFprlFKZArwQUQ8j+YATZpjVM2SM2WC0OAdc1wd4jDHWaOE1m28hCbNH4jULoASQHksB3wJnqACY8wyYP6O67rUMoM6EWn+Mi4RZO45WVFBZ19w8AAAAAElFTkSuQmCC') 100% 50% no-repeat;cursor:pointer;}
.select-value > input{border:none;background: none;outline:none;width: 100%;padding: 2px;}
.select-value > input:focus{outline:none;}
.select-options{border:1px solid #dfe1e5;position:absolute;left:0;right:0;top:100%;cursor:pointer;display:none;background:#fff;z-index:1;max-height:250px;overflow:scroll;overflow-x:hidden;margin-left: -1px;margin-right: -1px;}
.select-cover.active .select-options{border:1px solid #EB840B;border-top:none;}
.select-cover.selected{background: #FDEECC;}
.select-option{padding-top:7px;padding-bottom:7px;padding-left:35px;padding-right:15px;color:#494949;}
.select-option.active{background: url('../img/check.png') 15px 50% no-repeat;}
.select-option.hide{display: none;}
.select-option:hover,.select-option:focus{background: url('../img/check-white.png') 15px 50% no-repeat #F5AA01;}
.select-option.active:hover,.select-option.active:focus{}
.select-option-group{padding-left:10px;padding-right:10px;}
.select-option-group-label{font-weight:bold;}
.clear-selects{padding-top:7px;padding-bottom:7px;padding-left:35px;padding-right:15px;color:#ABABAB;background: url('../img/select-cross.png') 15px 50% no-repeat;}

/* custom checkbox element styles */
.checkbox-cover{margin-right:7px;float:left;border:1px solid #dfe1e5;position:relative;width:22px;height:22px;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANCAYAAACkTj4ZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB7SURBVHgBpdHRDcAgCARQ6CSu0k10MzfpKHUTmyOxaS02iPeFAV5CZFpIjDEw84F6I2ceSMCbyZEOKbXWfRrSkJxzmYJGCHpm6A8RKKV0ougbMwjSfk0GseBBBEIDAxpmReS00YI0jcgNaVg72YK8IAUjK/KBOoysCHIB2yl511+Y6wYAAAAASUVORK5CYII=') 50% 50% no-repeat #fff;}
.checkbox-cover.active{border:1px solid #EB840B;}
.checkbox-cover-inner{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;-webkit-transition: all 0.50s;-moz-transition: all 0.50s;-o-transition: all 0.50s;transition: all 0.50s;z-index:0;}
.checkbox-cover input[type=checkbox]{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;filter: alpha(opacity=0);-moz-opacity:0;opacity:0;z-index:1;}
.checkbox-cover-inner.active{left:100%;width:0;}
.checkbox-block:after{content:"";display:table;clear:both;}

/* custom radio element styles */
.radio-cover{margin-right:7px;float:left;border:1px solid #dfe1e5;position:relative;width:20px;height:20px;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}
.radio-cover-inner{width:100%;height:100%;z-index:0;position:absolute;top:0;left:0;}
@keyframes scaling {
  0%   {transform: scale(0);}
  100% {transform: scale(1);}
}
.radio-cover-inner.active{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi/P//PwMxgAVEMDIywvjhQOwExF+AeBMQHwQJgg2DmsgJxHtBYmi4C11hNRZFMOwEUsMEtdIbj/PAcjCFbHgUciIr3I1H4VYGuEMhui5hcd98mBpGMAEJHpDiIiC2hAbPDiBegKKQGAAQYAD0zzqBIEqULQAAAABJRU5ErkJggg==') 50% 50% no-repeat #fff;}
.radio-cover input[type=radio]{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;filter: alpha(opacity=0);-moz-opacity:0;opacity:0;z-index:1;}
.radio-block{margin-bottom:5px;}
.radio-block:after{content:"";display:table;clear:both;}