{% if category %}
        {% if type == 'mark' %}
            <select name="categoryFilter[mark]" class="custom-select" data-write="1" placeholder="{% trans %}Марка{% endtrans %}" onchange="getSubCategories($(this), $('#categoryModel{{ baseCategory.id }}'), 'model')">
                <option value="0"></option>
        {% endif %}
        {% if type == 'model' %}
            <select name="categoryFilter[model][]" class="custom-select" data-write="1" placeholder="{% trans %}Модель{% endtrans %}" multiple="multiple">
        {% endif %}
        {% if category.children | length > 0 %}
            {% if type == 'mark' %}
                <option value="0"></option>
            {% endif %}
            {% for child in category.children %}
                <option value="{{ child.id}}" >{{ child.title }}</option>
            {% endfor %}
        {% endif %}
        </select>
{% endif %}
