{% block _dealersalon_phones_widget %}
    <div class="dealerSalonPhonesListModal">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _dealersalon_phones_entry_row %}
    <div class="dealerSalonPhonesItemModal">
        {{ form_widget(form.phone)}}
        {{ form_widget(form.dealerSalon)}}
    </div>
{% endblock %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    {%- endif -%}
{%- endblock form_label -%}