<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26 1.4524L24.5476 0L13 11.5578L1.4524 0L0 1.4524L11.5578 13L0 24.5476L1.4524 26L13 14.4422L24.5476 26L26 24.5476L14.4422 13L26 1.4524Z" fill="white"/>
                </svg>
            </button>
            {% if title %}
                <div class="modal-header">
                    <h3 class="modal-title">{{ title | raw }}</h3>
                </div>
            {% endif %}
            {% if text %}
                <div class="modal-body">
                    <div class="modalFlashText">
                        {{ text | raw }}
                    </div>
                </div>
            {% endif %}
            <div class="modal-footer flash-footer">
                <div class="col-lg-12"><button type="button" class="btn" data-dismiss="modal">{% trans %}Закрыть{% endtrans %}</button></div>
            </div>
        </div>
    </div>
</div>
<script>$("#flashModal").modal();</script>