{% if gasTypes | length > 0 %}
    <td><div class="advertFiltersItemName">{% trans %}Двигатель{% endtrans %}</div></td>
    <td>
        <div class="advertFiltersItemValue">
            <ul class="list-unstyled list-inline addProductFilterRadios">
                {% for gasType in gasTypes %}
                    <li onclick="radioSetActive($(this))">
                        <a href="javascript:voit(0)" onclick="getGearType({{ gasType.id }},'{{ locale.code}}')" {% if gasType.id == advertInfo.gasType %}class="active"{% endif %}>{{ gasType.value }}</a>
                    </li>
                {% endfor %}
                <li class="static-filters"><div class="filter"><input onclick="setGasValue($(this),'{{ locale.code }}')" name="isGas" type="checkbox" value="1" class="gas-checkbox" {% if advertInfo.isGas %}checked="checked"{% endif %}  /> {% trans %}Газобалонное оборудование{% endtrans %}</div></li>
            </ul>
            <script>$(".gas-checkbox").customCheckbox();</script>
        </div>
    </td>
{% endif %}