{% if gasTypes %}
    <td><div class="advertFiltersItemName">{% trans %}Двигатель{% endtrans %}</div></td>
    <td>
        <div class="advertFiltersItemValue">
            <ul class="list-unstyled list-inline addProductFilterRadios">
                {% for gasType in gasTypes %}
                    <li onclick="radioSetActive($(this))"><a href="javascript:voit(0)" onclick="getGearType({{ gasType.id }},'{{ locale.code}}')">{{ gasType.value }}</a></li>
                {% endfor %}
                <li class="static-filters"><div class="filter"><input name="searchWithFoto" type="checkbox" value="1" class="gas-checkbox" /> {% trans %}Газобалонное оборудование{% endtrans %}</div></li>
            </ul>
        </div>
    </td>
{% endif %}