{% if gearTypes | length > 0 %}
    <td><div class="advertFiltersItemName">{% trans %}Коробка{% endtrans %}</div></td>
    <td>
        <div class="advertFiltersItemName">{% trans %}Коробка{% endtrans %}</div>
        <div class="advertFiltersItemValue">
            <ul class="list-unstyled list-inline addProductFilterRadios">
                {% for gearType in gearTypes %}
                    <li onclick="radioSetActive($(this))">
                        <a href="javascript:voit(0)" onclick="getTransmissionType({{ gearType.id }},'{{ locale.code}}')" {% if gearType.id == advertInfo.gearType %}class="active"{% endif %}>{{ gearType.value }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </td>
{% endif %}