<div class="row content-row">
    <div class="col-lg-9 col-md-9 left-column">
        <div class="advertFiltersItems" style="padding-bottom: 0rem;">
                <div class="advertFiltersItem justFilter">
                    <div class="advertFiltersItemName" style="padding-top: 1.4rem;">{% trans %}Ваше объявление не сохранено{% endtrans %}</div>
                    <div class="advertFiltersItemValue static-filters resultText" style="padding-right: 0;">
                        {% trans %}Превышен лимит созданных объявлений либо Ваш тарифный план не позволяет публиковать объявления в этой категории.{% endtrans %}
                    </div>
                    <div class="addAdvertResultButtons">
                        <div class="cookieAlertButton nextStep gray" style="display: block;">
                            <button onclick="">{% trans %}Перейти к моим объявлениям{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky"></div>
</div>