<div class="row content-row">
    <div class="col-lg-9 col-md-9 left-column">
        <div class="advertFiltersItems" style="padding-bottom: 0rem;">
                <div class="advertFiltersItem justFilter">
                    <div class="advertFiltersItemName" style="padding-top: 1.4rem;">{% trans %}Ваше объявление отправлено на модерацию{% endtrans %}</div>
                    <div class="advertFiltersItemValue static-filters resultText" style="padding-right: 0;">
                        - Мы модерируем каждое объявление и проверим его в течении 30 минут. Потому что мы заботимся о безопасности наших пользователей и о качестве базы объявлений.<br/>
- Все объявления модерируются в порядке очереди.<br/>
- Если вы подаете объявление в ночное время, то оно будет промодерировано утром следующего дня.<br/>
                    </div>
                    <div class="addAdvertResultButtons">
                        <div class="cookieAlertButton nextStep">
                            <button onclick="window.location.href='{{ path('addAdvert') }}'" id="addAdvertFinalButton">{% trans %}Разместить еще одно объявление{% endtrans %}</button>
                        </div> 
                        <div class="cookieAlertButton nextStep gray" style="display: block;">
                            <button onclick="window.location.href='{{ path('account_products', {'productType' : 'current'})}}'">{% trans %}Перейти к моим объявлениям{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-3 col-md-3 right-column hidden-sm hidden-xs" id="bannersSticky"></div>
</div>