<div class="addAdvertStepsBlock">
                <div class="addAdvertStepsBlockHeader">{% trans %}Шаги{% endtrans %} 1/5</div>
                <div class="addAdvertStepsBlockInner">
                    <ul class="list-unstyled addAdvertSteps">
                        <li {% if advertInfo.step == "1" %}class="active"{% endif %}>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#ABABAB" stroke-linejoin="round"/>
                                <path d="M5.66699 11L9.00033 14.3333L16.3337 7" stroke="#ABABAB" stroke-linejoin="round"/>
                            </svg>
                            <a href="javascript:void(0)">{% trans %}Выбор автомобиля{% endtrans %}</a>
                        </li>
                        <li {% if advertInfo.step == "2" %}class="active"{% endif %}>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#ABABAB" stroke-linejoin="round"/>
                                <path d="M5.66699 11L9.00033 14.3333L16.3337 7" stroke="#ABABAB" stroke-linejoin="round"/>
                            </svg>
                            <a href="javascript:void(0)">{% trans %}Внешний вид{% endtrans %}</a>
                        </li>
                        <li {% if advertInfo.step == "3" %}class="active"{% endif %}>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#ABABAB" stroke-linejoin="round"/>
                                <path d="M5.66699 11L9.00033 14.3333L16.3337 7" stroke="#ABABAB" stroke-linejoin="round"/>
                            </svg>
                            <a href="javascript:void(0)">{% trans %}Комплектация{% endtrans %}</a>
                        </li>
                        <li {% if advertInfo.step == "4" %}class="active"{% endif %}>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#ABABAB" stroke-linejoin="round"/>
                                <path d="M5.66699 11L9.00033 14.3333L16.3337 7" stroke="#ABABAB" stroke-linejoin="round"/>
                            </svg>
                            <a href="javascript:void(0)">{% trans %}Состояние и цена{% endtrans %}</a>
                        </li>
                        <li {% if advertInfo.step == "5" %}class="active"{% endif %}>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#ABABAB" stroke-linejoin="round"/>
                                <path d="M5.66699 11L9.00033 14.3333L16.3337 7" stroke="#ABABAB" stroke-linejoin="round"/>
                            </svg>
                            <a href="javascript:void(0)">{% trans %}Контактные данные{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
</div>