{% extends 'DashboardCommonBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Дилеры{% endtrans %}{% endblock %}

{% block body %}
<div class="dealersContainer">
    <div class="container">
        <div class="row">
            {% if dealers | length > 0 %}
                <div class="col-lg-4 col-md-4">
                    <div class="mapListSearchBlock">
                        <div class="mapListSearchBlockHeader">{% trans %}Список дилеров по продаже новых авто{% endtrans %}</div>
                        <div class="mapListSearchBlockTabs">
                            <ul class="list-unstyled list-inline">
                                <li><a href="javascript:void(0)" class="active">{% trans %}Все{% endtrans %}</a></li>
                                <li><a href="javascript:void(0)">{% trans %}Новые{% endtrans %}</a></li>
                                <li><a href="javascript:void(0)">{% trans %}С пробегом{% endtrans %}</a></li>
                            </ul>
                        </div>
                        <div class="mapListSearchBlockForm">
                            <div class="formParameterField" id="selectAutoMark">
                                <input name="dealerName" type="text" placeholder="{% trans %}Марка авто{% endtrans %}" />
                            </div>
                            <div class="formParameterField">
                                <input name="dealerName" type="text" placeholder="{% trans %}Название дилера{% endtrans %}" />
                            </div>
                            <div class="formParameterField button">
                                <button type="button" class="find">{% trans %}Найти{% endtrans %}</button>
                            </div>
                        </div>
                    </div>
                    {% if autos | length > 0 %}
                        <div class="mapListItems hide">
                            <div class="col-lg-12">
                                <div class="row">
                                    {% for auto in autos %}
                                        <div class="col-xs-3 mapListAutoLabel">
                                            <a href="" class="mapListAuto">
                                                <span class="mapListAutoLogo">
                                                    {{ auto.image | raw }}
                                                </span>
                                                <span class="mapListAutoName">{{ auto.title }}</span>
                                            </a>
                                        </div>
                                    {% endfor %}    
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="mapListItems" role="tabpanel" id="dealersBlockAll">
                        {% for dealer in dealers %}
                            {% include 'DashboardCommonBundle:Dealer:item.html.twig' with {'dealer' : dealer} %}
                        {% endfor %}
                    </div>
                </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.865030048467!2d27.58359641616844!3d53.91637428010246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfa41ea5c939%3A0xd4acce53940bc87f!2z0KbQtdC90YLRgNCw0LvRjNC90YvQuSDQo9C90LjQstC10YDRgdCw0LvRjNC90YvQuSDQvNCw0LPQsNC30LjQvQ!5e0!3m2!1sru!2sby!4v1574246307736!5m2!1sru!2sby" class="mapImage" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            {% else %}
            <div class="col-lg-12 col-md-12">
                <div class="content-block-header">
                    <h1>{% trans %}Дилеры{% endtrans %}</h1>
                </div>
                <div class="accountNocontent" style="padding-top: 4rem;padding-bottom: 4rem;">{% trans %}Информации по дилерам пока нет{% endtrans %}</div>
            </div>
            {% endif %}
        </div>
    </div>                   
</div>
{% endblock %}    